<!--input-lab.html-->

{{ template "header.html" .}}

       {{ if .ErrorTitle}}
        <p class="bg-danger">
          {{.ErrorTitle}}: {{.ErrorMessage}}
        </p>
        {{end}}
        {{with .user }}
            <legend>Отчет о лабораторной работе студента {{ .Username }}</legend>
        {{ end }}
        <form action="/labs/new" method="POST">
          <div class="mb-3">
            <label for="expectedResult" class="form-label">Теоретическое значение</label>
            <input type="number" step="any" required="required" class="form-control" name="expectedResult" id="expectedResult" aria-describedby="hint">
            <div id="hint" class="form-text">Мы не осуждаем вас за сильное расхождение</div>
          </div>
          <div class="mb-3">
            <label for="testResult" class="form-label">Эксперементальное значениe</label>
            <input type="number" step="any" class="form-control" name="testResult" id="testResult">
          </div>
          <div class="mb-3">
            <label for="Comment" class="form-label">Объяснение погрешности</label>
            <input type="text" required="required" class="form-control" name="Comment" id="Comment">
          </div>


          <button type="submit" class="btn btn-primary">Отправить на проверку</button>
        </form>

{{ template "footer.html" .}}